@font-face {
    font-family: Nike Futura;
    src: url(../FONT/Nike-Futura/Futura\ Condensed\ Extra\ Bold\ Oblique.otf) format("opentype");
}

@font-face {
    font-family: Helvetica Neue;
    src: url(../FONT/Helvetica-Neus/Pragmatica-ExtraLight.woff) format("opentype");
}



.text1 {
    font-family: "Helvetica Neue";
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1.5;
}

.text2 {
    font-family: "Nike Futura";
    font-weight: 500;
    font-size: 72px;
    line-height: 60px;
    margin-bottom: 8px;
}

.sandal-heading {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
